{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" 
          {% if user.is_authenticated %}
          href="{% url 'index' %}"
          {% else %}
          href="{% url 'index' %}"
          {% endif %}>
          <img classs="img-responsive" width="" height="50px" src="{% static 'images/icon.jpg' %}">
          omelette</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
              <a class="nav-item dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-user"></i></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">profile</a></li>
                <li><a class="dropdown-item" href="{% url 'people' %}">people</a></li>
                <li><a class="dropdown-item" href="#">my matches</a></li>
                <li><a class="dropdown-item" href="{% url 'account_logout' %}">sign out</a></li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>

